<form>
	<div class="d-flex align-items-center">
		<div class="row">
			<div class="col">
				<button mat-raised-button color="warn">
					Create
				</button>
			</div>
			<div class="col">
				<mat-form-field class="w-100">
					<mat-label>Open Games</mat-label>
					<mat-select>
						<mat-option value="abc">abc</mat-option>
						<mat-option value="123">123</mat-option>
						<mat-option value="xyz">xyz</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col">
				<button mat-raised-button color="primary">Join</button>
			</div>
		</div>
	</div>
</form>
